<%  layout("/layouts/boilerplate")%>
    <body>
        <h3>All Listings</h3>
        <form method="GET" action="/listings/new">
        <button>create new listing</button>  
        </form>
        <ul>
            <% for (let listings of alllisting) { %>
                <li><a href="/listings/<%= listings._id %>"> <%= listings.title %> </a> </li>
            <%} %>
        </ul>
        
    </body>


